
body, html {
    margin: 0;
    padding: 0;
    height: 100%;
}

.top-banner {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #213547;
    padding: 15px;
    border-radius: 10px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    margin: 20px;
    width: 95%;
    margin-top: 20px;
}

.left-side {
    display: flex;
    gap: 20px;
}
.right-side {
    margin-left: auto;
}

.text.active {
    font-weight: bold;
    border-bottom: 2px solid #1a1a1a;
    padding-bottom: 5px;
}

